data/
Old/
Assignment3/old/

Assignment5/corals.zip
Assignment5/leaf_classification.zip
Assignment5/leaf_classification/

Assignment5/mango_leaf_dataset/
Assignment5/himalayan_birds/
Assignment5/himalayan_birds.zip

Assignment6/misc/*